<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LJM_MoreFunction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCE31FFC20527C30004421A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCE3201420527C31004421A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCE3201F20527C31004421A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
